@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#050816;
  color:white;
}

body {
  background: radial-gradient(circle at top, #0f172a 0%, #050816 55%, #020617 100%);
  overflow-x: hidden;
}

::selection {
  background: #ec4899;
  color: white;
}